[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cliwrap = {editable = true, ref = "0.1.0", git = "https://github.com/restechnica/cliwrap-python"}

[dev-packages]
invoke = "*"
wheel = "*"

[requires]
python_version = "3.7"
